@model WebsiteRaoVat.Models.DanhMuc
@{
    ViewBag.Title = "ThemDanhMuc";
    Layout = "~/Areas/Admin/Views/Admin/layoutAdmin.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">Thêm mới danh mục</a></li>
    </ol>
</nav>
@using (Html.BeginForm("ThemDanhMuc", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div style="color:blue" class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="padding:10px" class="row">
            <div style="margin-left:15px" class="col">
                @Html.LabelFor(model => model.TenDanhMuc, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div style="margin-right:420px " class="col-md-6">
                @Html.EditorFor(model => model.TenDanhMuc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenDanhMuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="padding:10px" class="row">
            <div style="margin-left:35px" class="col">
                @Html.LabelFor(model => model.Hinh, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div style="margin-right:420px " class="col-md-6">
                <input name="Hinh" type="file" />
                <span style="color:red">@ViewBag.upload</span>

            </div>
        </div>



        <div class="form-group">
            <div style="padding:45px" class="col-md-offset-2 col-md-10">
                <button style="background-color:blue; text-align:center; margin-left:100px;" class="btn btn-default">Thêm</button>
            </div>
        </div>
        </div>

        }
        <style>
        </style>
